<% include header.html %>
  <div class="container-fluid">
    <div class="row-fluid">
      <form class="span12" action="home" method="post">
        <fieldset>
          <legend>请输入</legend>
          <p>
            <span>用户名:</span>
            <br>
            <input id="user" name="user" type="text">
          </p>
          <p>
            <span>密码:</span>
            <br>
            <input id="password" name="password" type="password">
          </p>
          <p><input type="submit" value="登陆" class="btn btn-primary"></p>
          </fieldset>
      </form>
    </div>
  </div>
<% include footer.html %>